In [1]:
import pandas as pd

In [8]:
all_data = pd.read_csv('../data/ene_keskeytykset_2005-2014.csv', parse_dates=['start'])
all_data

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,area,type,cause,location,failure_type,start,Alkoi_vuosi,kk,pv,h,min,s,transformers,ur_ndp,ru_ndp,clients
0,1,V1,T,A2,VT2,2005-01-01 11:06:00,2005.0,1.0,1.0,11.0,6.0,0.0,20.0,NaN,NaN,259
1,1,V1,T,A2,VT2,2005-01-01 18:24:00,2005.0,1.0,1.0,18.0,24.0,0.0,20.0,NaN,NaN,259
2,1,V1,T,A2,VT2,2005-01-01 04:21:04,2005.0,1.0,1.0,4.0,21.0,4.0,20.0,NaN,NaN,259
3,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,10.0,NaN,NaN,159
4,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,38.0,NaN,NaN,699
5,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,3.0,NaN,NaN,63
6,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,4.0,NaN,NaN,37
7,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,1.0,NaN,NaN,2
8,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,3.0,NaN,NaN,33
9,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,7.0,NaN,NaN,97
10,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,2.0,NaN,NaN,19
11,1,V1,L1,A2,VT1,2005-01-02 10:50:00,2005.0,1.0,2.0,10.0,50.0,0.0,16.0,NaN,NaN,326
12,1,V1,L1,A2,VT1,2005-01-02 10:50:00,2005.0,1.0,2.0,10.0,50.0,0.0,44.0,NaN,NaN,587
13,1,V1,L1,A2,VT4,2005-01-03 12:54:59,2005.0,1.0,3.0,12.0,54.0,59.0,6.0,NaN,NaN,70
14,1,V1,L1,A2,VT4,2005-01-03 13:10:00,2005.0,1.0,3.0,13.0,10.0,0.0,10.0,NaN,NaN,169
15,1,V1,U1,A5,VT2,2005-01-03 11:35:00,2005.0,1.0,3.0,11.0,35.0,NaN,15.0,NaN,NaN,3882
16,1,V1,R2,A5,VT2,2005-01-03 12:00:00,2005.0,1.0,3.0,12.0,0.0,NaN,3.0,NaN,NaN,166
17,1,V1,L1,A2,VT1,2005-01-03 03:00:34,2005.0,1.0,3.0,3.0,0.0,34.0,43.0,NaN,NaN,1503
18,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,22.0,NaN,NaN,520
19,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,7.0,NaN,NaN,297
20,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,6.0,NaN,NaN,380
21,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,1.0,NaN,NaN,0
22,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,2.0,NaN,NaN,177
23,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,3.0,NaN,NaN,294
24,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,2.0,NaN,NaN,123
25,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,1.0,NaN,NaN,14
26,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,53.0,NaN,NaN,1062
27,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,7.0,NaN,NaN,84
28,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,11.0,NaN,NaN,256
29,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,1.0,NaN,NaN,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571697,1,V1,L4,NaN,NaN,2018-08-25 06:05:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,91.0,103
571698,1,V1,L4,NaN,NaN,2018-08-25 06:05:14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,444.0,42.0,486
571699,1,V1,L4,NaN,NaN,2018-08-25 06:05:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,127.0,127
571700,1,V1,L1,NaN,NaN,2018-09-12 18:53:10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,468.0,211.0,679
571701,1,V1,L1,NaN,NaN,2018-09-13 10:10:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,50.0,65
571702,1,V1,L1,NaN,NaN,2018-09-18 20:26:18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,47.0,47
571703,1,V1,L1,NaN,NaN,2018-09-20 15:44:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,521.0,521
571704,1,V1,L1,NaN,NaN,2018-09-22 12:33:27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.0,158.0,384
571705,1,V1,L1,NaN,NaN,2018-09-22 14:32:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,329.0,329
571706,1,V1,L1,NaN,NaN,2018-09-27 09:00:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.0,777.0,812
571707,1,V1,L1,NaN,NaN,2018-09-27 09:36:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,166.0,179
571708,1,V1,L1,NaN,NaN,2018-09-27 10:58:09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,99.0,99
571709,1,V1,L1,NaN,NaN,2018-09-27 12:35:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,521.0,521
571710,1,V1,R1,NaN,NaN,2018-09-27 22:12:30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,40.0,40
571711,1,V1,L1,NaN,NaN,2018-09-29 23:33:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,658.0,141.0,799
571712,1,V1,T1,NaN,NaN,2018-10-05 11:23:31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,190.0,71.0,261
571713,1,V1,U1,NaN,NaN,2018-10-11 09:07:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,0.0,8
571714,1,V1,T1,NaN,NaN,2018-10-11 11:22:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,99.0,99
571715,1,V1,L1,NaN,NaN,2018-10-22 03:41:17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1846.0,537.0,2383
571716,1,V1,R1,NaN,NaN,2018-10-23 09:46:38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,11.0,11
571717,1,V1,T1,NaN,NaN,2018-10-25 13:55:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,128.0,128
571718,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.0,126.0,173
571719,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,167.0,180
571720,1,V1,T1,NaN,NaN,2018-10-25 13:55:49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,572.0,42.0,614
571721,1,V1,T1,NaN,NaN,2018-10-27 12:15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,246.0,246
571722,1,V1,T1,NaN,NaN,2018-10-27 14:30:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,246.0,246
571723,1,V1,L1,NaN,NaN,2018-11-02 22:08:12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,136.0,140
571724,1,V1,L1,NaN,NaN,2018-11-10 22:45:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.0,167.0,180
571725,1,V1,U2,NaN,NaN,2018-11-20 09:39:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,224.0,225
571726,1,V1,T1,NaN,NaN,2018-12-10 11:17:40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,742.0,742

Update transformers where missing and change some data types to int

In [19]:
all_data['transformers'] = all_data.transformers.fillna(1).astype(int)
all_data[['ur_ndp', 'ru_ndp']] = all_data.loc[:,['ur_ndp', 'ur_ndp']].fillna(-1).astype(int)

In [20]:
all_data

,area,type,cause,location,failure_type,start,Alkoi_vuosi,kk,pv,h,min,s,transformers,ur_ndp,ru_ndp,clients
0,1,V1,T,A2,VT2,2005-01-01 11:06:00,2005.0,1.0,1.0,11.0,6.0,0.0,20,-1,-1,259
1,1,V1,T,A2,VT2,2005-01-01 18:24:00,2005.0,1.0,1.0,18.0,24.0,0.0,20,-1,-1,259
2,1,V1,T,A2,VT2,2005-01-01 04:21:04,2005.0,1.0,1.0,4.0,21.0,4.0,20,-1,-1,259
3,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,10,-1,-1,159
4,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,38,-1,-1,699
5,1,V1,R1,A2,VT1,2005-01-02 10:04:00,2005.0,1.0,2.0,10.0,4.0,0.0,3,-1,-1,63
6,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,4,-1,-1,37
7,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,1,-1,-1,2
8,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,3,-1,-1,33
9,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,7,-1,-1,97
10,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2005.0,1.0,2.0,14.0,30.0,0.0,2,-1,-1,19
11,1,V1,L1,A2,VT1,2005-01-02 10:50:00,2005.0,1.0,2.0,10.0,50.0,0.0,16,-1,-1,326
12,1,V1,L1,A2,VT1,2005-01-02 10:50:00,2005.0,1.0,2.0,10.0,50.0,0.0,44,-1,-1,587
13,1,V1,L1,A2,VT4,2005-01-03 12:54:59,2005.0,1.0,3.0,12.0,54.0,59.0,6,-1,-1,70
14,1,V1,L1,A2,VT4,2005-01-03 13:10:00,2005.0,1.0,3.0,13.0,10.0,0.0,10,-1,-1,169
15,1,V1,U1,A5,VT2,2005-01-03 11:35:00,2005.0,1.0,3.0,11.0,35.0,NaN,15,-1,-1,3882
16,1,V1,R2,A5,VT2,2005-01-03 12:00:00,2005.0,1.0,3.0,12.0,0.0,NaN,3,-1,-1,166
17,1,V1,L1,A2,VT1,2005-01-03 03:00:34,2005.0,1.0,3.0,3.0,0.0,34.0,43,-1,-1,1503
18,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,22,-1,-1,520
19,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,7,-1,-1,297
20,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,6,-1,-1,380
21,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,1,-1,-1,0
22,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,2,-1,-1,177
23,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,3,-1,-1,294
24,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,2,-1,-1,123
25,1,V1,R1,A5,VT2,2005-01-04 10:51:15,2005.0,1.0,4.0,10.0,51.0,15.0,1,-1,-1,14
26,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,53,-1,-1,1062
27,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,7,-1,-1,84
28,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,11,-1,-1,256
29,1,V1,R1,A6,VT1,2005-01-04 10:51:16,2005.0,1.0,4.0,10.0,51.0,16.0,1,-1,-1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571697,1,V1,L4,NaN,NaN,2018-08-25 06:05:13,NaN,NaN,NaN,NaN,NaN,NaN,1,12,12,103
571698,1,V1,L4,NaN,NaN,2018-08-25 06:05:14,NaN,NaN,NaN,NaN,NaN,NaN,1,444,444,486
571699,1,V1,L4,NaN,NaN,2018-08-25 06:05:17,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,127
571700,1,V1,L1,NaN,NaN,2018-09-12 18:53:10,NaN,NaN,NaN,NaN,NaN,NaN,1,468,468,679
571701,1,V1,L1,NaN,NaN,2018-09-13 10:10:34,NaN,NaN,NaN,NaN,NaN,NaN,1,15,15,65
571702,1,V1,L1,NaN,NaN,2018-09-18 20:26:18,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,47
571703,1,V1,L1,NaN,NaN,2018-09-20 15:44:25,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,521
571704,1,V1,L1,NaN,NaN,2018-09-22 12:33:27,NaN,NaN,NaN,NaN,NaN,NaN,1,226,226,384
571705,1,V1,L1,NaN,NaN,2018-09-22 14:32:37,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,329
571706,1,V1,L1,NaN,NaN,2018-09-27 09:00:34,NaN,NaN,NaN,NaN,NaN,NaN,1,35,35,812
571707,1,V1,L1,NaN,NaN,2018-09-27 09:36:55,NaN,NaN,NaN,NaN,NaN,NaN,1,13,13,179
571708,1,V1,L1,NaN,NaN,2018-09-27 10:58:09,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,99
571709,1,V1,L1,NaN,NaN,2018-09-27 12:35:36,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,521
571710,1,V1,R1,NaN,NaN,2018-09-27 22:12:30,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,40
571711,1,V1,L1,NaN,NaN,2018-09-29 23:33:32,NaN,NaN,NaN,NaN,NaN,NaN,1,658,658,799
571712,1,V1,T1,NaN,NaN,2018-10-05 11:23:31,NaN,NaN,NaN,NaN,NaN,NaN,1,190,190,261
571713,1,V1,U1,NaN,NaN,2018-10-11 09:07:06,NaN,NaN,NaN,NaN,NaN,NaN,1,8,8,8
571714,1,V1,T1,NaN,NaN,2018-10-11 11:22:13,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,99
571715,1,V1,L1,NaN,NaN,2018-10-22 03:41:17,NaN,NaN,NaN,NaN,NaN,NaN,1,1846,1846,2383
571716,1,V1,R1,NaN,NaN,2018-10-23 09:46:38,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,11
571717,1,V1,T1,NaN,NaN,2018-10-25 13:55:47,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,128
571718,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,NaN,NaN,NaN,NaN,NaN,NaN,1,47,47,173
571719,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,NaN,NaN,NaN,NaN,NaN,NaN,1,13,13,180
571720,1,V1,T1,NaN,NaN,2018-10-25 13:55:49,NaN,NaN,NaN,NaN,NaN,NaN,1,572,572,614
571721,1,V1,T1,NaN,NaN,2018-10-27 12:15:00,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,246
571722,1,V1,T1,NaN,NaN,2018-10-27 14:30:43,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,246
571723,1,V1,L1,NaN,NaN,2018-11-02 22:08:12,NaN,NaN,NaN,NaN,NaN,NaN,1,4,4,140
571724,1,V1,L1,NaN,NaN,2018-11-10 22:45:40,NaN,NaN,NaN,NaN,NaN,NaN,1,13,13,180
571725,1,V1,U2,NaN,NaN,2018-11-20 09:39:37,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,225
571726,1,V1,T1,NaN,NaN,2018-12-10 11:17:40,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,742

Remove unnecessary columns and filter some rows which are for sure not caused by weather

In [25]:
all_data.drop(columns=['Alkoi_vuosi','kk','pv','h','min','s'], inplace=True)

KeyError: "['Alkoi_vuosi' 'kk' 'pv' 'h' 'min' 's'] not found in axis"

In [35]:
filt_data = all_data[(~all_data.loc[:, 'cause'].isin(['R1','R2','ST1','ST2','ST3','ST4']))]
filt_data

,area,type,cause,location,failure_type,start,transformers,ur_ndp,ru_ndp,clients
0,1,V1,T,A2,VT2,2005-01-01 11:06:00,20,-1,-1,259
1,1,V1,T,A2,VT2,2005-01-01 18:24:00,20,-1,-1,259
2,1,V1,T,A2,VT2,2005-01-01 04:21:04,20,-1,-1,259
6,1,V1,L1,A6,VT2,2005-01-02 14:30:00,4,-1,-1,37
7,1,V1,L1,A6,VT2,2005-01-02 14:30:00,1,-1,-1,2
8,1,V1,L1,A6,VT2,2005-01-02 14:30:00,3,-1,-1,33
9,1,V1,L1,A6,VT2,2005-01-02 14:30:00,7,-1,-1,97
10,1,V1,L1,A6,VT2,2005-01-02 14:30:00,2,-1,-1,19
11,1,V1,L1,A2,VT1,2005-01-02 10:50:00,16,-1,-1,326
12,1,V1,L1,A2,VT1,2005-01-02 10:50:00,44,-1,-1,587
13,1,V1,L1,A2,VT4,2005-01-03 12:54:59,6,-1,-1,70
14,1,V1,L1,A2,VT4,2005-01-03 13:10:00,10,-1,-1,169
15,1,V1,U1,A5,VT2,2005-01-03 11:35:00,15,-1,-1,3882
17,1,V1,L1,A2,VT1,2005-01-03 03:00:34,43,-1,-1,1503
36,1,V1,T,A2,VT2,2005-01-05 06:17:59,13,-1,-1,103
37,1,V1,T,A2,VT2,2005-01-05 06:17:59,4,-1,-1,20
38,1,V1,T,A2,VT2,2005-01-05 06:17:59,7,-1,-1,68
39,1,V1,T,A2,VT2,2005-01-05 06:17:59,4,-1,-1,48
40,1,V1,L1,A2,VT2,2005-01-05 12:40:09,5,-1,-1,68
41,1,V1,L1,A2,VT2,2005-01-05 12:40:09,11,-1,-1,114
42,1,V1,L1,A2,VT2,2005-01-05 12:40:09,3,-1,-1,48
43,1,V1,L1,A2,VT2,2005-01-05 13:36:23,8,-1,-1,116
44,1,V1,U1,A2,VT1,2005-01-05 10:48:04,7,-1,-1,135
45,1,V1,U1,A2,VT1,2005-01-05 10:48:04,4,-1,-1,126
46,1,V1,U1,A2,VT1,2005-01-05 10:48:04,13,-1,-1,370
47,1,V1,U1,A2,VT1,2005-01-05 10:48:04,2,-1,-1,41
48,1,V1,T,A2,VT2,2005-01-05 11:40:26,1,-1,-1,11
49,1,V1,T,A2,VT2,2005-01-05 11:40:26,1,-1,-1,29
50,1,V1,T,A2,VT2,2005-01-05 11:40:26,1,-1,-1,8
51,1,V1,T,A2,VT2,2005-01-05 11:40:26,6,-1,-1,60
...,...,...,...,...,...,...,...,...,...,...
571693,1,V1,L3,NaN,NaN,2018-08-12 17:58:15,1,443,443,485
571696,1,V1,L4,NaN,NaN,2018-08-25 06:03:11,1,13,13,178
571697,1,V1,L4,NaN,NaN,2018-08-25 06:05:13,1,12,12,103
571698,1,V1,L4,NaN,NaN,2018-08-25 06:05:14,1,444,444,486
571699,1,V1,L4,NaN,NaN,2018-08-25 06:05:17,1,0,0,127
571700,1,V1,L1,NaN,NaN,2018-09-12 18:53:10,1,468,468,679
571701,1,V1,L1,NaN,NaN,2018-09-13 10:10:34,1,15,15,65
571702,1,V1,L1,NaN,NaN,2018-09-18 20:26:18,1,0,0,47
571703,1,V1,L1,NaN,NaN,2018-09-20 15:44:25,1,0,0,521
571704,1,V1,L1,NaN,NaN,2018-09-22 12:33:27,1,226,226,384
571705,1,V1,L1,NaN,NaN,2018-09-22 14:32:37,1,0,0,329
571706,1,V1,L1,NaN,NaN,2018-09-27 09:00:34,1,35,35,812
571707,1,V1,L1,NaN,NaN,2018-09-27 09:36:55,1,13,13,179
571708,1,V1,L1,NaN,NaN,2018-09-27 10:58:09,1,0,0,99
571709,1,V1,L1,NaN,NaN,2018-09-27 12:35:36,1,0,0,521
571711,1,V1,L1,NaN,NaN,2018-09-29 23:33:32,1,658,658,799
571712,1,V1,T1,NaN,NaN,2018-10-05 11:23:31,1,190,190,261
571713,1,V1,U1,NaN,NaN,2018-10-11 09:07:06,1,8,8,8
571714,1,V1,T1,NaN,NaN,2018-10-11 11:22:13,1,0,0,99
571715,1,V1,L1,NaN,NaN,2018-10-22 03:41:17,1,1846,1846,2383
571717,1,V1,T1,NaN,NaN,2018-10-25 13:55:47,1,0,0,128
571718,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,1,47,47,173
571719,1,V1,T1,NaN,NaN,2018-10-25 13:55:48,1,13,13,180
571720,1,V1,T1,NaN,NaN,2018-10-25 13:55:49,1,572,572,614
571721,1,V1,T1,NaN,NaN,2018-10-27 12:15:00,1,0,0,246
571722,1,V1,T1,NaN,NaN,2018-10-27 14:30:43,1,0,0,246
571723,1,V1,L1,NaN,NaN,2018-11-02 22:08:12,1,4,4,140
571724,1,V1,L1,NaN,NaN,2018-11-10 22:45:40,1,13,13,180
571725,1,V1,U2,NaN,NaN,2018-11-20 09:39:37,1,1,1,225
571726,1,V1,T1,NaN,NaN,2018-12-10 11:17:40,1,0,0,742

In [ ]:
from sqlalchemy import create_engine
db_host = '***REMOVED***'
db_port = 5432
db_name = "postgres"
db_user = "***REMOVED***"
db_pass = "***REMOVED***"
def save_dataset(df, table_name='ene_outages'):
    """
    Save dataset into the db

    df : DataFrame
         DataFrame data
    """
    if df is None or len(df) < 1:
        return
    print('Storing classification set to db sasse.{}...'.format(table_name))

    # db_name, db_user, db_host, db_pass
    engine = create_engine('postgresql://{user}:{passwd}@{host}:5432/{db}'.format(user=db_user,
                                                                                 passwd=db_pass,
                                                                                 host=db_host,
                                                                                 db=db_name))

    index_name = 'id'
    df.to_sql(table_name, engine, schema='sasse', if_exists='append', index=False)

save_dataset(filt_data)

Storing classification set to db sasse.ene_outages...

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)